<configuration>  
  <system.webServer>  
    <rewrite>  
      <rules>  
        <rule name="Proxy" stopProcessing="true">  
          <match url="^proxy/?(.*)" />  
          <action type="Rewrite" url="http://baidu.com/{R:1}" />  
        </rule>  
      </rules>  
    </rewrite>  
  </system.webServer>  
</configuration>
